<div class="card card_show">
  <h2><%= @recurrence.name %></h2>
  <div class="horizontal_line hl_show"></div>

  <p><%= @recurrence.description %></p>

  <div class="button-container">
    <div class="button">
      <%= link_to "Show all", chores_path%>
    </div>
  </div>
</div>