<% if logged_in? %>
  <h1>These are the chores to be completed this week</h1>

  <div class="container">
    <%= render "shared/card", chores: @chores_done, header: "Chores Done", source: "index"%>
    <%= render "shared/card", chores: @chores_in_progress, header: "Chores In Progress", source: "index"%>
  </div></br>

  <div class="button">
    <%= link_to "New Chore", new_chore_path %>
  </div>
<% else %>
  <h1>Welcome to the Todo App</h1>
<% end %>