<h1>These are your current chores</h1>

<div class="container">
  <%= render "card", chores: @chores_done, header: "Chores Done"%>
  <%= render "card", chores: @chores_in_progress, header: "Chores In Progress"%>
</div></br>

<div class="button">
  <%= link_to "New Chore", new_chore_path %>
</div>